@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
:root {
    --main-elm: #1a936f;
    --main-blue-clill: #1089b1;
    --main-tarawera: #073a4b;
    --main-tulip: #e7a34b;
    --main-marzipan: #f7d488;
}

/*---------------------------------- flags bar in contacts --------------------------------------*/
.flags_bar {
    /*background-color: red;*/
    width: 100%;
    margin-top: 4vh;
    display: flex;
}
.flags_bar div p {
    margin:0;
    color:lightsteelblue;
}
.flag1 {
    margin-left:15%;
}
.flag2 {
    margin-left: 12%;
}
.flag3 {
    margin-left: 25%;
}
/*---------------------------------- loader --------------------------------------*/
.loader_con {
    height:80%;
    display:flex;
    justify-content:center;
    align-items:center;
}
.loader {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 6px solid #ccc;
    border-top-color: var(--main-tarawera);
    animation: spin 1s infinite linear;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

/*---------------------------------- profile container --------------------------------------*/
.profile_container {
    margin-top: 4vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    width: 60%;
    padding: 2rem;
    border: 2px solid black;
    border-radius: 15px;
    
}
.data_sub1{
    text-align:left;
    
}
.data_sub2 {
    text-align: left;
}
/*---------------------------------- Home --------------------------------------*/
.home_first_container {
    display: flex;
    justify-content:center;
    align-items:center;
    flex-direction: column;
}
.welcome_cotainer h2 {
    font-weight:bolder;
}
.profile_photo_container {
    margin: 2rem;
    width: 17rem;
    height: 17rem;
    border-radius: 200px;
    overflow: hidden;

    display: flex;
    justify-content:center;
    align-items:center;
    box-shadow: 0px 0px 25px 2px rgba(0, 0, 0, 0.5);
}
.profile_photo_container img {
    width: 17rem;
    height: 17rem;
    
    object-fit: cover;
}
@media only screen and (min-width: 1921px) {
    .home_first_container {
        /*background-color: #e7a34b;*/
        margin: 5rem 0 5rem 0;
    }
  }
/*---------------------------------- PopUp edit-create --------------------------------------*/
    .todo_input {
        width: 30rem;
        height: 2.5rem;
        padding-left: 1rem;
    }
/*---------------------------------- ToDo List --------------------------------------*/
.todo_list_container {
    margin-top: 1rem;
    height: 70vh;
    padding-top: 1rem;
    overflow: auto;
}
.todo_list_item {
    width: 85%;
    /*min-width: 50rem;*/
    min-height: 4rem;
    overflow: auto;
    margin: 1.5rem 0 1.5rem 0;
    box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 1rem 0.5rem 1rem;
}

.todo_col p {
    margin: 0;
}
.todo_inner_col {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
/*---------------------------------- Detail Button ----------------------------------*/
.detail_pop_btn {
    background-color: var(--main-elm);
    color: white;
    border: none;
}
.hover_btn:hover {
        background-color: lavender;
        border: none;

}
/*----------------------------------- Contact list ---------------------------------*/
.contact_list_container {
    /*background-color: grey;*/
    
    height: 67vh;
    padding-top: 1rem;
    overflow: auto;
    
}
.contact_list_item {
    width: 90%;
    /*min-width: 50rem;*/
    min-height: 4rem;
    overflow: auto;
    margin: 1.5rem 0 1.5rem 0;
    box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
}
.contact_col p {
    margin: 0;
}
.contact_col {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.roro {
    /*background-color:chocolate;*/
    width:100%;
}
/*----------------------------------- Nav Styles -----------------------------------*/
.nav_container {
    background-color: var(--main-tarawera);
    height: 7vh;
}

/*Modificando el sign in button*/
.signin_btn {
    /*background-color: var(--main-blue-clill);*/
    border-radius:6px;
    color:white;
}
.signin_btn button {
    color: white;
    font-family: Oswald;
    width: 5rem;
    background-color: var(--main-blue-clill);
}
    .signin_btn .dropdown-menu button {
        color: black;
        background-color: white;
    }

.navbar-brand.lol {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 2em;
    letter-spacing: 3px;
    border: none;
}

.navOptions_container {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 2rem;
}
.navOptions_container h5 {
    color: white;
    margin: 0;
}
/*----------------------------------- No Logged Styles -----------------------------------*/
.noLogged_main_container {
    background-image: url('../assets/canoa.jpg');
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    height: 93vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Oswald;
    font-weight: initial;
    /*color: #212529;*/
    color: #edf6f9;
}

    .noLogged_main_container .welcome_txt {
        font-weight: normal;
        font-size: 3.5rem;
        margin-bottom: 2rem;
    }
    .noLogged_main_container .sgnin_txt {
        font-size: 1.5rem;
        margin-bottom: 2rem;
    }

/*----------------------------------- Side Nav Bar -----------------------------------*/
.side_main_container {
    /*border: 2px solid  var(--main-tarawera);*/
    height: 93vh;
    width: 14%;
    min-width: 10rem;
    position: fixed;
    top: 7vh;
    left:0;
    display: flex;
    align-items: center;
}
.links_container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
.links_container a {
    color: black;
    text-decoration: none;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.links_container a div{
    width: 80%;
    height: 6vh;
    padding-left: 2rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 10px;
}
    .links_container a div:hover {
        background-color: lavender;
    }
.links_container a div h3 {
    margin:0;
}

.links_container .active div {
    background-color: var(--main-tarawera);
    color: white;
}
    .links_container .active div:hover {
        background-color: var(--main-tarawera);
        color: white;
    }

/*----------------------------------- Home Contacts ToDo Main Container -----------------------------------*/
.fixed_main_container {
    /* background-color: brown; */
    width: 86%;
    height: 93%;
    position: fixed;
    top: 7vh;
    left: 14%;
    overflow: auto;

    display: block;

    padding-top: 2.5rem;
}
.fixed_main_container h2 {
    margin: 0;
}

/*-------------------------------- Zoho ----------------------------------------*/
/*Links*/

.links_zoho_container {
    
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}
.links_zoho_container a {
    color: black;
    text-decoration: none;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.links_zoho_container a div{
    width: 70%;
    height: 4vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
    .links_zoho_container a div:hover {
        background-color: lavender;
    }
.links_zoho_container a div p {
    margin:0;
}

.links_zoho_container .active div {
    background-color: var(--main-blue-clill);
    color: white;
}
    .links_zoho_container .active div:hover {
        background-color: var(--main-tarawera);
        color: white;
    }

/*--------------------------------------- zoho ---------------------------------*/
.mapper_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.mapper_card {
    width: 90%;
    /*min-width: 50rem;*/
    min-height: 4rem;
    overflow: auto;
    margin: 1.5rem 0 1.5rem 0;
    box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
}
.mapper_card_info {
    width: 85%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 3rem;
}

/*----------------------------------------- Zoho Account -----------------------------*/
.zoho_title_btn {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 70%;
}
/*----------------------------------------- Planner view -----------------------------*/
.planner_header{
    display: flex;
    align-items: center;
    padding-left: 1rem;
}
.groups_btn {
    width: 33.33%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20%;
}
.planner_title {
    width: 33.33%;
}
.planner_title h2 {
    margin: 0
}
.planner_info h6 {
    margin: 0;
}
.planner_info {
    width: 33.33%;
    height: 3.2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 2rem;
}
/*----------------------------------------- Plans Display -----------------------------*/
.plansDisplay_container {
    /* background-color: #a12424; */
    margin-top: 3rem;
    width: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
}
.plansDisplay_card{
    background-color: #faf2ac;
    border-radius: 10px;
    height: 6rem;
    display: flex;
    cursor: pointer;
}
.planIcon{
    width: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 1.7rem;
}
.planInfo{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/*----------------------------------------- buckets Display -----------------------------*/
.bucketsDisplay_container {
}
.bucket_title {
     background-color: white;
     width: 97%;
     height: 2rem;
     border-radius: 5px;
     display: flex;
     align-items: center;
     justify-content: space-between;
     padding: 0 1rem 0 1rem;
}
.addIcon:hover  {
    background-color: #dbdbdb;
    border-radius: 3px;
}
.bucketsDisplay_info {
    height: 3rem;
    display: flex;
    align-items: center;
}
.bucket_card_container {
    overflow: auto;
    height: 74vh;
    width: 98%;
    display: flex;
    gap: 1rem;
}
/* -------------------- AQUI */
.bucket_card {
    background-color: #ecebeb;
    overflow: auto;
    border-radius: 5px;
    width: 19.4rem;
    flex-shrink: 0;
    padding-top: 0.5rem;
}
.addBucketCard{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.addBucketCard:hover {
    background-color: rgb(201, 201, 201);
    border-radius: 5px;
}
/*----------------------------------------- cards -----------------------------*/
.cardsInner_container {
    /* background-color: #1089b1; */
    height: 94%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.7rem;
    padding-top: 0.7rem;
}
.taskCard {
    background-color: white;
    box-shadow: 0px 3px 10px -5px rgb(124, 124, 124);
    width: 97%;
    padding: 0.5rem;
    border-radius: 5px;
    cursor: pointer;
}
.taskCard:hover {
    background-color: rgb(247, 247, 247);
}
.taskCard_header p {
    margin: 0;
}
.taskCard_header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    margin-bottom: 0.5rem;
    margin-left: 0.2rem;
}
.checklist_preview{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 0.8rem;
    margin-bottom: 0.5rem;
}

.TaskCard_btn_container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
/*----------------------------------------- Create task -----------------------------*/
.createTaskForm{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-height: 29rem;
    overflow: auto;
}
.createTaskForm div input {
    background-color: #e6eef0;
    border: none;
    height: 2rem;
    padding: 0 0.5rem 0 0.5rem;
    border-radius: 5px  ;
}
.createTaskForm div input:focus {
    background-color: #ffffff;
    border: none;
}
.testArea_check{
    background-color: #e6eef0;
    border: none;
    padding: 0.5rem 0.5rem 0 0.5rem;
    border-radius: 5px  ;
    width: 100%;
    margin-top: 0.5rem;

}
.testArea_check:focus {
    background-color: #ffffff;
    border: none;
} 
.createTask_Description span{
    font-weight: bold;
}

.createTask_Title input{
    width: 100%;
    margin-top: 0.5rem;
}
.createTask_Title span{
    font-weight: bold;
}


.createTask_Checklist input{
    width: 80%;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
.createTask_Checklist span{
    font-weight: bold;
}
.createTask_Checklist button {
    height: 2rem;
    margin-left: 1rem;
    border-radius: 5px;
    border: none;
    background-color:#1a936f;
    color: white;
    font-weight: bold;
    width: 3rem;
}

.createTask_Checklist button:hover {
    background-color:#115742;
}
.createTask_btn{
    flex-shrink: 0;
    height: 2.5rem;
    border-radius: 5px;
    border: none;
    background-color:#1089b1;
    color: white;
    font-weight: bold;
}
/*----------------------------------------- CheckItemsDisplay -----------------------------*/

.CheckItemsDisplay_container{
    background-color: #ebebeb;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    margin: 0.5rem 0 0.2rem 0;
}
.checkList_card span{
    font-weight: lighter;
}
.checkList_card {
    margin: 0.5rem;
    display: flex;
    align-items: center;
}
.itemName {
    margin: 0 1rem;
}

/*----------------------------------------- TaskCard Detail -----------------------------*/
.taskDetail_title_container{
    margin:0.5rem 0 1rem 0;
}
.titleInput_Detail {
    background-color: #e6eef0;
    border: none;
    height: 2rem;
    width: 100%;
    padding: 0 0.5rem 0 0.5rem;
    border-radius: 5px;
    font-weight:500;
    font-size: 1.5rem;

}
.titleNoMod:hover{
    cursor: pointer;
    background-color: #e6eef0;
    border-radius: 5px;
}
.algo{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.createItemInput{
    background-color: #e6eef0;
    border: none;
    padding: 0 0.5rem 0 0.5rem;
    border-radius: 5px  ;
    width: 100%;
    margin-top: 0.5rem;
    height: 2rem;
}